streamlit==1.26.0
streamlit-chat==0.1.1        # version compatible
pillow>=7.1.0,<10             # compatible avec Streamlit 1.26
transformers==4.41.0
torch==2.1.0
pandas==2.1.0
numpy==1.26.0
PyPDF2==3.1.0
python-docx==0.8.11
openpyxl==3.2.3
csvkit==1.0.8
plotly==5.16.0
matplotlib==3.8.0
seaborn==0.12.3
altair==5.0.1
rich==14.2.0
requests==2.31.0